apiVersion: addons.sigs.k8s.io/v1alpha1
kind: ConfigManagement
metadata:
  name: config-management
  namespace: config-management-system
spec:
  clusterName: my-cluster
  git:
    syncRepo: git@github.com:linde/nomos-acme-corp.git
    secretType: ssh
    policyDir: "nomos-root"
